---
title: mattias.rocks
layout: layouts/home.njk
description: My blog.
date: Last Modified
---

<p>
  My name is Mattias Wikström and I work as a web developer but think about all kinds of things.
</p>

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>
