---
layout: layouts/base.njk
templateClass: tmpl-home
---
<div id="fuji-container">
  <canvas id="fuji-canvas" aria-label="Rotating low-poly Mt. Fuji" role="img"></canvas>
</div>
{{ content | safe }}
